Repository anthonyportugal/lit-components: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint

.lintstagedrc:

{
	"*.{js,ts,json,scss,html}": "pnpm format",
	"*.{js,ts,html}": "pnpm lint"
}

🔧 add .editorconfig
  .editorconfig
Due: none

🔧 update prettier config
  .prettierrc
  .prettierrc.js
Due: pnpm format, pnpm lint

➕ add stylelint, stylelint-config-standard-scss and stylelint-scss
  package.json
  pnpm-lock.yaml
Due: pnpm format

🔧 add stylelint config
  .stylelintignore
  .stylelintrc.js
Due: pnpm format, pnpm lint

🔨 add lint:style script
  package.json
Due: pnpm format

🔧 add lint:style to lint-staged
  .lintstagedrc
Due: none

➕ add eslint-config-prettier
  package.json
  pnpm-lock.yaml
Due: pnpm format

🔧 add eslint-config-prettier to eslint config
  eslint.config.js
Due: pnpm format, pnpm lint

🙈 omit .vscode/settings.json
  .gitignore
Due: none

🔧 add .vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: pnpm format

📄 add license
  LICENSE
Due: none

📝 add readme
  README.md
Due: none
